button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

.buttonLarge {
    width:6.6em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: black;
    border-radius: 1em;
    padding: 0.2em;
    margin: 5em 0;
}

.orange{
    background-color: #FF9500;
    color: white;
}

.grey{
    background-color: #505050;
    color: white;
}

.result{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3em;
    font-size: 3em;
}